body {
    margin: 0%;
    background-color: white;
}

header {
    width: 100%;
    background-color: #050450;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 50%;
    height: 50%;
    margin-left: 10%;
}
#login {
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.usuario {
    color: white;
}
.sair {
    color:white;
    font-weight: bold;
    margin-left: 40px;

}
.circulo {
    margin-right: 40px;
    width: 120px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    margin-top: 5px;
}

.saudtexto {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
    margin-top: 20px;
}
.ola {
    font-weight: bold;
}
.config {
    height: 58px;
    width: 178px;
    color: white;
    background-color: #616361;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    border: #616361 4px solid;
    margin-left: 50%;
    margin-top: 5%;
}
.resumo {
    width: 60%;
    height: 70%;
    border: 2px solid black;
    text-align: center;
    background: transparent;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    

}
.diatrabalho {
    width: 80%;
    height: 80%;
    border: 2px solid transparent;
    text-align: center;
    background: #FFD700;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}
.diafolga {
    width: 80%;
    height: 80%;
    border: 2px solid transparent;
    text-align: center;
    background: #4C4E4C;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 8%;
}
.botoes {
    align-items: center;
    justify-content: center;
}
#buttonprincipal {
    height: 58px;
    width: 178px;
    color: white;
    background-color: #069CF0;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    border-radius: 12px;
    border: #069CF0 4px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botoesacima, .botoesabaixo {
    margin-top: 20px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dias, .troca {
    margin-right: 40px;
}

.calendario, .feriados {
    margin-left: 40px;
}

footer {
    height: 120px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.configtitle {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: bold;
    margin-top: 40px;   
}
.diasemana {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-right: 5%;
}
.textodiasemana {
    padding: 30px;
}
.domingo, .segunda{
    display: flex;
    padding: 5px;
    align-items: center;
}
.circulodia {
    margin-right: 10px;
    width: 29px;
    height: 29px;
    background-color: gray;
    border-radius: 50%;
}
.funcoesconfig {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;

}

.buttonfncconfig {
    width: 340px;
    height: 40px;
    color: black;
    background-color: #E8E8E8;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: black 4px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-left: 8%;
}
.buttonvoltar {
    color: white;
    background-color: #069CF0;
    border-radius: 10px;
    border: 2px solid transparent;
    height: 58px;
    width: 128px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 60%;
}
